<div class="container-fluid">
  <h1>COVID-19 Tracker</h1>
</div>
<main class="container-fluid">
  <div class="container" id="who">
    <iframe src="https://www.who.int/health-topics/coronavirus#tab=tab_1" frameborder="0" width="85%"
      height="385vh"></iframe>
  </div>
  <div class="container" id="johnHopkins">
    <iframe src="https://coronavirus.jhu.edu/map.html" frameborder="0" width="85%" height="385vh"></iframe>
  </div>
  <div class="container-fluid text-center card jumbotron" id="tips">
    <div class="container">
      <h2>Safety tips:</h2>
    </div>
    <div class="container">
      <p>
        Here follows some general safety tips on how to prevent getting sick and/or spreading
        the COVID-19 virus! And please adhere to your country's lock-down regulations!
      </p>
      <p>
        <ul>
          <li>Practice basic hygiene.</li>
          <li>Wash your hands and up to your elbows as often as possible.</li>
          <li>Practice social distancing of at least 1m (8 feet) even after lock-down is lifted.</li>
          <li>Use hand-sanitizer.</li>
          <li>When going out for critical supplies, wear a face mask and/or surgical gloves.</li>
          <li>Do not touch you eyes, nose or mouth before sanitizing or washing your hands.</li>
        </ul>
    </div>
  </div>
</main>
